{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path_for('save-activity', {id: activity.id}) }}">
        <input type="hidden" name="id" value="{{ activity.id }}">
        <label>
            Start time:
            <input type="datetime-local" name="started_at" value="{{ activity.started_at|date('Y-m-d\\TH:i:sO') }}">
        </label>
        <label>
            End time:
            <input type="datetime-local" name="finished_at" value="{% if activity.finished_at is not null %}{{ activity.finished_at|date('Y-m-d\\TH:i:sO') }}{% endif %}">
        </label>
        <label>
            <input type="checkbox" name="ongoing"{% if activity.finished_at is null %} checked{% endif %}>
            Ongoing
        </label>
        <label>
            Title:
            <input type="text" name="title" value="{{ activity.title }}{% if activity.tags is not empty %} #{{ activity.tags|join(' #') }}{% endif %}">
        </label>
        <button type="submit">Save</button>
    </form>
    <script>
        var finishedAtInput = document.getElementsByName('finished_at')[0];
        finishedAtInput.disabled = {% if activity.finished_at is null %}true{% else %}false{% endif %};
        document.getElementsByName('ongoing')[0].addEventListener('change', function() {
            finishedAtInput.disabled = this.checked;
        });
    </script>
{% endblock%}
