{% extends 'base.html.twig' %}

{% block body %}
    {% if current_activity is not null %}
        <form method="POST" action="stop_activity.php" class="current-activity-display">
            <h1>
                {{ current_activity.title }}
                {% if current_activity.tags is not empty %}
                    <ul class="tag-list">
                        {% for tag in current_activity.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <span data-start-time="{{ current_activity.started_at|date('Y-m-d\\TH:i:sO') }}">
                    {{ current_activity.duration }}
                </span>
            </h1>
            <input type="hidden" name="id" value="{{ current_activity.id }}">
            <button type="submit">Stop</button>
        </form>
    {% else %}
        <div class="current-activity-display">
            <h1>No activity</h1>
            <button type="submit" disabled>Stop</button>
        </div>
    {% endif %}
    <form method="POST" action="start_activity.php" class="start-activity-form">
        <input type="text" name="title" placeholder="New activity...">
        <button type="submit">Start</button>
    </form>
    <h2>Previous activities</h2>
    {% for activity in activities %}
        {% set current_day = activity.started_at|date('z') %}
        {% if last_day is not defined or last_day != current_day %}
            {% if last_day is defined %}
                    </tbody>
                </table>
            {% endif%}
            <h3>{{ activity.started_at|date('Y-m-d') }}</h3>
            <table class="activity-list">
                <tbody>
        {% endif %}
        {% set last_day = current_day %}
        <tr>
            <td>{{ activity.started_at|date('H:i') }}</td>
            <td>-</td>
            <td>{% if activity.finished_at is not null %}{{ activity.finished_at|date('H:i') }}{% endif %}</td>
            <td class="activity-list-title-column">
                <a href="edit_activity.php?id={{ activity.id }}">{{ activity.title }}</a>
                {% if activity.tags is not empty %}
                    <ul class="tag-list">
                        {% for tag in activity.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td class="activity-list-duration-column"{% if activity == current_activity %} data-start-time="{{ activity.started_at|date('Y-m-d\\TH:i:sO') }}"{% endif %}>
                {{- activity.duration -}}
            </td>
        </tr>
    {% endfor %}
    {% if activities is not empty %}
            </tbody>
        </table>
    {% endif %}
    <script>
        function formatDuration(start, end) {
            var secs = Math.floor((end - start) / 1000);
            var hours = Math.floor(secs / (60 * 60));
            var mins = Math.floor(secs / 60) - hours * 60;
            secs %= 60;
            if (hours === 0) {
                return mins === 0 ? secs + 's' : mins + 'min';
            } else {
                return hours + 'h ' + mins + 'min';
            }
        }
        var durationElems = document.querySelectorAll('[data-start-time]');
        setInterval(function() {
            for (var i = 0, l = durationElems.length; i < l; i++) {
                durationElems[i].textContent = formatDuration(Date.parse(durationElems[i].dataset.startTime), Date.now());
            }
        }, 1000);
    </script>
{% endblock %}
